body {
    font-family: Arial, sans-serif;
    background-color: #eceece;
    margin: 0;
    padding: 20px;
    color: rgb(45, 146, 190); 
}

h2 {
    color: #333;
}

button {
    border-radius: 20px;
    background-color: #f691c4;
    color: #eceece;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e64999;
}

#friendInputs {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin: 5px 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
